streamlit==1.38.0
numpy==2.1.1
Pillow==10.4.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
opencv-python-headless==4.7.0.72
git+https://github.com/doctr-team/doctr.git
torch==2.0.1+cu118
torchvision==0.15.1+cu118
